.content {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100%;
}

.left {
  background-color: lightgray;
}

.right {
}

mat-list-option[aria-selected="true"] {
  background: aliceblue;
  border-left: 4px solid blue;
}
